flask_app/.idea
flask_app/.DS_Store

Smart_Environment_Monitor/build
Smart_Environment_Monitor/cmake-build-debug
Smart_Environment_Monitor/pytest_hello_world.py
Smart_Environment_Monitor/README.md
Smart_Environment_Monitor/sdkconfig
Smart_Environment_Monitor/sdkconfig.ci
Smart_Environment_Monitor/venv
Smart_Environment_Monitor/.DS_Store
Smart_Environment_Monitor/.idea
Smart_Environment_Monitor/main/include/env_passwords.h

sem_data/.env
sem_data/.idea
sem_data/.DS_Store

berlin_weather/.idea
berlin_weather/.DS_Store
berlin_weather/.ipynb_checkpoints
berlin_weather/berlin_weather_2014_2023.csv
berlin_weather/file_name4.csv

.DS_Store
.idea
